body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    width: 100vw;
}

div.findOwnLocation {
    cursor: pointer;
    font-size: large;
}

div.findingOwnLocation {
    color: black;
    font-size: large;
    animation-duration: 2s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.2;
    }
}

div.locatingSuccess {
    color: green;
}

div.locatingError {
    color: red;
}
